<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <title>Vapers World PH</title>
    {% include 'html_dependencies.html' %}
</head>
<body>
<!-- Navbar` -->
<nav class="navbar fixed-top navbar-dark mdb-color elegant-color-dark scrolling-navbar">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="waves-effect p-0" href="/">
            <img src="https://lh3.googleusercontent.com/pw/ACtC-3ebhYscf_b-qFuThmaacqRSnuFdDqqcC-sqtangy1a7GfB7Wt-hdinvhNgNiLCOKRYokt-Cx_7SKc9UHYheaUKyyflsJ2Dj-kyYOLqu1f2YR4dq--gbhGL-Tt4qlD-B3n9mG5YXfBobLDCH-zQxV12q=w479-h637-no?authuser=0"
                 class="img-fluid"
                 style="max-width:30px">
        </a>

        <a class="waves-effect white-text" href="{{ url_for('orders.cart') }}">
            <span class="badge red">{{ session['number_of_items_in_cart'] }}</span>
            <i class="fas fa-shopping-cart"></i> Cart
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="accordion md-accordion accordion-4" id="accordionNavbar" role="tablist"
                 aria-multiselectable="true">
                {% if session['email'] in config.ADMINS %}
                <div class="card mdb-color elegant-color-dark">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingAdmin">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionNavbar"
                           href="#collapseAdmin" aria-expanded="false" aria-controls="collapseAdmin">
                                <h6 class="mb-0 white-text">
                                Admin
                                <i class="fas fa-angle-down rotate-icon"></i>
                            </h6>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseAdmin" class="collapse" role="tabpanel"
                         aria-labelledby="headingAdmin" data-parent="#accordionNavbar">
                        <div class="card-body white-text">
                            <a class="waves-effect dropdown-item min-font white-text"
                               href="{{ url_for('orders.order_summary', status='open') }}">Orders</a>
                            <a class="waves-effect dropdown-item min-font white-text"
                               href="{{ url_for('items.items') }}">Items</a>
                            <a class="waves-effect dropdown-item min-font white-text"
                               href="{{ url_for('admin.customers') }}">Customers</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="card mdb-color elegant-color-dark">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingDevices">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionNavbar"
                           href="#collapseDevices" aria-expanded="false" aria-controls="collapseDevices">
                                <h6 class="mb-0 white-text">
                                Devices
                                <i class="fas fa-angle-down rotate-icon"></i>
                            </h6>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseDevices" class="collapse" role="tabpanel"
                         aria-labelledby="headingDevices" data-parent="#accordionNavbar">
                        <div class="card-body white-text">
                            <a class="waves-effect dropdown-item min-font white-text"
                               href="{{ url_for('items.display_items_by_subcategory', subcategory='RELX Starter Kit') }}">RELX
                                Starter Kits</a>
                            <a class="waves-effect dropdown-item min-font white-text"
                               href="{{ url_for('items.display_items_by_subcategory', subcategory='HUUK Starter Kit') }}">HUUK
                                Starter Kits</a>
                        </div>
                    </div>
                </div>
                <div class="card mdb-color elegant-color-dark">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingELiquids">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionNavbar"
                           href="#collapseELiquids" aria-expanded="false" aria-controls="collapseELiquids">
                            <h6 class="mb-0 white-text">
                                E-Liquids
                                <i class="fas fa-angle-down rotate-icon"></i>
                            </h6>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseELiquids" class="collapse" role="tabpanel"
                         aria-labelledby="headingELiquids" data-parent="#accordionNavbar">
                        <div class="card-body white-text">
                            <a class="waves-effect dropdown-item min-font white-text"
                               href="{{ url_for('items.display_items_by_subcategory', subcategory='RELX 3-in-1 Pod') }}">RELX
                                3-in-1 Pods</a>
                            <a class="waves-effect dropdown-item min-font white-text"
                               href="{{ url_for('items.display_items_by_subcategory', subcategory='HUUK 3-in-1 Pod') }}">HUUK
                                3-in-1 Pods</a>
                        </div>
                    </div>
                </div>
                <div class="card mdb-color elegant-color-dark">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingAccessories">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionNavbar"
                           href="#collapseAccessories" aria-expanded="false" aria-controls="collapseAccessories">
                            <h6 class="mb-0 white-text">
                                Accessories
                                <i class="fas fa-angle-down rotate-icon"></i>
                            </h6>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseAccessories" class="collapse" role="tabpanel"
                         aria-labelledby="headingAccessories" data-parent="#accordionNavbar">
                        <div class="card-body white-text">
                            <a class="waves-effect dropdown-item min-font white-text"
                               href="{{ url_for('items.display_items_by_subcategory', subcategory='Silicon Case') }}">Silicon
                                Case</a>
                            <a class="waves-effect dropdown-item min-font white-text"
                               href="{{ url_for('items.display_items_by_subcategory', subcategory='Leather Case') }}">Leather
                                Case</a>
                        </div>
                    </div>
                </div>
                <div class="card mdb-color elegant-color-dark">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingContactUs">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionNavbar"
                           href="#collapseContactUs" aria-expanded="false" aria-controls="collapseContactUs">
                            <h6 class="mb-0 white-text">
                                Contact Us
                                <i class="fas fa-angle-down rotate-icon"></i>
                            </h6>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseContactUs" class="collapse" role="tabpanel"
                         aria-labelledby="headingContactUs" data-parent="#accordionNavbar">
                        <div class="card-body white-text">
                            <a class="waves-effect dropdown-item min-font white-text"
                               href="tel:+639161234567"><i class="fas fa-phone-square-alt mr-2"></i>09161234567</a>
                            <a href="https://www.facebook.com/Vapers-World-111813333985360/"
                               class="waves-effect dropdown-item min-font white-text"
                               target="_blank"><i class="fab fa-facebook-square mr-2"></i>Facebook</a>
                            <a href="https://www.instagram.com/vapersw0rld/"
                               class="waves-effect dropdown-item min-font white-text"
                               target="_blank"><i class="fab fa-instagram mr-2"></i>Instagram</a>
                            <a href="https://shopee.ph/fairyelle" class="waves-effect dropdown-item min-font white-text"
                               target="_blank"><i class="fab fa-shopify mr-2"></i>Shopee</a>
                        </div>
                    </div>
                </div>
                {% if session['email'] in config.ADMINS %}
                <a class="nav-link waves-effect white-text ml-2" href="{{ url_for('admin.logout_admin') }}">
                    Logout<i class="fas fa-sign-out-alt ml-2"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<p class="mt-4 pt-4"></p>
<!-- Navbar -->
{% block content %}
{% endblock content %}

<footer class="text-center font-small mt-4 mdb-color elegant-color-dark white-text">
    <!--Copyright-->
    <div class="footer-copyright py-3">
        <p>Age restriction: we do not sale to minors. It is strictly prohibited for any person
            under
            the age of 21 to access, use, and purchase from our website.</p>
        © 2019 Copyright
    </div>
    <!--/.Copyright-->
</footer>

{% include 'js_dependencies.html' %}
</body>
</html>