{% extends "base.html" %}
{% block content %}
<!--Main layout-->
<main>
    <div class="container wow fadeIn">

        <!--Grid row-->
        <div class="my-5 row">

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill">{{ session['number_of_items_in_cart'] }}</span>
                </h4>

                <!-- Cart -->
                <ul class="list-group mb-3 z-depth-1">
                    {% for item in items %}
                    <li class="list-group-item lh-condensed">
                        <a href="{{ url_for('items.display_item', item_id=item._id) }}">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h6 class="my-0">{{ item['subcategory'] }}: {{ item['name'] }}</h6>
                                    <small class="text-muted">{{ session['cart'][item._id] }} x {{ item['price'] }} each</small>
                                </div>
                                <span class="text-muted">₱{{ item['subtotal'] }}</span>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
<!--                    <li class="list-group-item d-flex justify-content-between bg-light">-->
<!--                        <div class="text-success">-->
<!--                            <h6 class="my-0">Promo code</h6>-->
<!--                            <small>EXAMPLECODE</small>-->
<!--                        </div>-->
<!--                        <span class="text-success">-$5</span>-->
<!--                    </li>-->
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total</span>
                        <strong>₱{{ total }}</strong>
                    </li>
                </ul>
                <!-- Cart -->

                <!-- Promo code -->
<!--                <form class="card p-2">-->
<!--                    <div class="input-group">-->
<!--                        <input type="text" class="form-control" placeholder="Promo code"-->
<!--                               aria-label="Recipient's username" aria-describedby="basic-addon2">-->
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn btn-secondary btn-md waves-effect m-0" type="button">-->
<!--                                Redeem-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
                <!-- Promo code -->

            </div>
            <!--Grid column-->

            <div class="col-md-8 mb-4">

                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Checkout form</span>
                </h4>
                <!--Card-->
                <div class="card">

                    <!--Card content-->
                    <form class="card-body needs-validation" action="{{ url_for('orders.checkout') }}" method="post">

                        <!--fullName-->
                        <div class="md-form mb-5">
                            <input type="text" id="name" class="form-control" name="name" required>
                            <label for="name" class="">Full Name</label>
                        </div>

                        <!--contactNumber-->
                        <div class="md-form mb-5">
                            <input type="text" id="contactNumber" class="form-control" name="contactNumber" required>
                            <label for="contactNumber" class="">Contact Number</label>
                        </div>

                        <!--address-->
                        <div class="md-form mb-5">
                            <input type="text" id="address" class="form-control" name="address" required>
                            <label for="address" class="">Shipping Address</label>
                        </div>

                        <!--landmarks-->
                        <div class="md-form mb-5">
                            <input type="text" id="landmarks" class="form-control" name="landmarks">
                            <label for="landmarks" class="">Nearby Landmarks (optional)</label>
                        </div>

                        <!--notes-->
                        <div class="md-form mb-4">
                            <input type="text" id="notes" class="form-control" name="notes">
                            <label for="notes" class="">Notes (optional)</label>
                        </div>

                        <div class="text-muted min-font mb-4">
                            <h6>Delivery Type</h6>
                            <div class="form-check custom-control-inline">
                                <input class="form-check-input" name="delivery" type="radio"
                                       id="same_day" value="Same Day" checked>
                                <label class="form-check-label" for="same_day">Same day
                                    delivery</label>
                            </div>

                            <div class="form-check custom-control-inline">
                                <input class="form-check-input" name="delivery" type="radio"
                                       id="next_day" value="Next Day">
                                <label class="form-check-label" for="next_day">Next day delivery
                                    (Fixed ₱65 delivery fee within NCR only)</label>
                            </div>

                            <div class="form-check mt-4">
                                <input class="form-check-input" type="checkbox" value=""
                                       id="condition" required>
                                <label class="form-check-label" for="condition">
                                    I agree to terms and conditions
                                </label>
                            </div>
                        </div>
                        <input type="hidden" value="{{ total }}" class="form-control" name="total">
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block min-font" type="submit">Submit Order</button>
                    </form>
                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>
<!--Main layout-->
{% endblock %}