{% extends "base.html" %}
{% block content %}

<!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">

    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
            <div class="view"
                 style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%282%29.jpg'); background-repeat: no-repeat; background-size: cover;">

                <!-- Mask & flexbox options-->
                <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                    <!-- Content -->
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>Learn Bootstrap 4 with MDB</strong>
                        </h1>

                        <p>
                            <strong>Best & free guide of responsive web design</strong>
                        </p>

                        <p class="mb-4 d-none d-md-block">
                            <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by
                                over 500 000 users. Video and
                                written versions
                                available. Create your own, stunning website.</strong>
                        </p>

                        <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/"
                           class="btn btn-outline-white btn-lg">Start
                            free tutorial
                            <i class="fas fa-graduation-cap ml-2"></i>
                        </a>
                    </div>
                    <!-- Content -->

                </div>
                <!-- Mask & flexbox options-->

            </div>
        </div>
        <!--/First slide-->

        <!--Second slide-->
        <div class="carousel-item">
            <div class="view"
                 style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%283%29.jpg'); background-repeat: no-repeat; background-size: cover;">

                <!-- Mask & flexbox options-->
                <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                    <!-- Content -->
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>Learn Bootstrap 4 with MDB</strong>
                        </h1>

                        <p>
                            <strong>Best & free guide of responsive web design</strong>
                        </p>

                        <p class="mb-4 d-none d-md-block">
                            <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by
                                over 500 000 users. Video and
                                written versions
                                available. Create your own, stunning website.</strong>
                        </p>

                        <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/"
                           class="btn btn-outline-white btn-lg">Start
                            free tutorial
                            <i class="fas fa-graduation-cap ml-2"></i>
                        </a>
                    </div>
                    <!-- Content -->

                </div>
                <!-- Mask & flexbox options-->

            </div>
        </div>
        <!--/Second slide-->

        <!--Third slide-->
        <div class="carousel-item">
            <div class="view"
                 style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg'); background-repeat: no-repeat; background-size: cover;">

                <!-- Mask & flexbox options-->
                <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                    <!-- Content -->
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>Learn Bootstrap 4 with MDB</strong>
                        </h1>

                        <p>
                            <strong>Best & free guide of responsive web design</strong>
                        </p>

                        <p class="mb-4 d-none d-md-block">
                            <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by
                                over 500 000 users. Video and
                                written versions
                                available. Create your own, stunning website.</strong>
                        </p>

                        <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/"
                           class="btn btn-outline-white btn-lg">Start
                            free tutorial
                            <i class="fas fa-graduation-cap ml-2"></i>
                        </a>
                    </div>
                    <!-- Content -->

                </div>
                <!-- Mask & flexbox options-->

            </div>
        </div>
        <!--/Third slide-->

    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

</div>
<!--/.Carousel Wrapper-->

<!--Main layout-->
<main>
    <div class="container mt-5">


        <!--Section: Content-->
        <section class="dark-grey-text text-center">

            <!-- Section heading -->
            <h3 class="font-weight-bold mb-4 pb-2 wow fadeIn">Our Products</h3>
            <!-- Section description -->
            <p class="grey-text w-responsive mx-auto mb-5 wow fadeIn">Lorem ipsum dolor sit amet, consectetur
                adipisicing elit fugit, error amet numquam iure provident voluptate esse quasi
                nostrum quisquam eum porro a pariatur veniam.</p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6 col-6 mb-4 wow fadeIn">
                    <!-- Collection card -->
                    <div class="card collection-card z-depth-1-half">
                        <!-- Card image -->
                        <div class="view zoom">
                            <img src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.15752-9/119918978_646487189619342_4793131193187567545_n.jpg?_nc_cat=106&_nc_sid=ae9488&_nc_eui2=AeERioQeOuBa5ALfL664qkvhsS6Q-OdMXiixLpD450xeKK0l6saYNw5tsjIzNZhIt8vKjyOYmLCTFywums7HgmpI&_nc_ohc=woAqos3ppssAX99zJKJ&_nc_ht=scontent-hkt1-1.xx&oh=77e4b4b7cb765da94fa154630d74330a&oe=5F9CD086"
                                 class="img-fluid"
                                 alt="">

                            <div class="mask rgba-black-light d-flex justify-content-center align-items-end">
                                <!-- Content -->
                                <div class="text-center white-text pb-5">
                                    <a href="{{ url_for('items.display_items_by_category', category='Devices') }}"
                                       class="btn btn-outline-white btn-lg btn-rounded">Starter Kits
                                    </a>
                                </div>
                                <!-- Content -->

                            </div>
                        </div>
                        <!-- Card image -->
                    </div>
                    <!-- Collection card -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6 col-6 mb-4 wow fadeIn">
                    <!-- Collection card -->
                    <div class="card collection-card z-depth-1-half">
                        <!-- Card image -->
                        <div class="view zoom">
                            <img src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.15752-9/119918978_646487189619342_4793131193187567545_n.jpg?_nc_cat=106&_nc_sid=ae9488&_nc_eui2=AeERioQeOuBa5ALfL664qkvhsS6Q-OdMXiixLpD450xeKK0l6saYNw5tsjIzNZhIt8vKjyOYmLCTFywums7HgmpI&_nc_ohc=woAqos3ppssAX99zJKJ&_nc_ht=scontent-hkt1-1.xx&oh=77e4b4b7cb765da94fa154630d74330a&oe=5F9CD086"
                                 class="img-fluid"
                                 alt="">
                            <div class="mask rgba-black-light d-flex justify-content-center align-items-end">
                                <!-- Content -->
                                <div class="text-center white-text pb-5">
                                    <a href="{{ url_for('items.display_items_by_category', category='E-Liquid') }}"
                                       class="btn btn-outline-white btn-lg btn-rounded">3-in-1 Pods
                                    </a>
                                </div>
                                <!-- Content -->

                            </div>
                        </div>
                        <!-- Card image -->
                    </div>
                    <!-- Collection card -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6 col-6 mb-4 wow fadeIn">
                    <!-- Collection card -->
                    <div class="card collection-card z-depth-1-half">
                        <!-- Card image -->
                        <div class="view zoom">
                            <img src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.15752-9/119918978_646487189619342_4793131193187567545_n.jpg?_nc_cat=106&_nc_sid=ae9488&_nc_eui2=AeERioQeOuBa5ALfL664qkvhsS6Q-OdMXiixLpD450xeKK0l6saYNw5tsjIzNZhIt8vKjyOYmLCTFywums7HgmpI&_nc_ohc=woAqos3ppssAX99zJKJ&_nc_ht=scontent-hkt1-1.xx&oh=77e4b4b7cb765da94fa154630d74330a&oe=5F9CD086"
                                 class="img-fluid"
                                 alt="">
                            <div class="mask rgba-black-light d-flex justify-content-center align-items-end">
                                <!-- Content -->
                                <div class="text-center white-text pb-5">
                                    <a href="{{ url_for('items.display_items_by_category', category='Accessories') }}"
                                       class="btn btn-outline-white btn-lg btn-rounded">Silicon Case
                                    </a>
                                </div>
                                <!-- Content -->

                            </div>
                        </div>
                        <!-- Card image -->
                    </div>
                    <!-- Collection card -->
                </div>
                <!-- Grid column -->

                <!-- Fourth column -->
                <div class="col-lg-3 col-md-6 col-6 mb-4 wow fadeIn">
                    <!-- Collection card -->
                    <div class="card collection-card z-depth-1-half">
                        <!-- Card image -->
                        <div class="view zoom">
                            <img src="https://lh3.googleusercontent.com/pw/ACtC-3dRkrYqMPwEFgHV-A3w7-Mo_N0xBJRyXaL34ESTTrbEx0mZ1wfieS2pl1i8h99igBXqHpNDy-4GrgJcbvzPg0a5JSVGgab3ANOo_hrEcrsLLPFuUVLRztf-qaTBfjB3UJ2wxxZXXVQQGrpeFK2d1Is=w441-h637-no?authuser=0"
                                 class="img-fluid"
                                 alt="">
                            <div class="mask rgba-black-light d-flex justify-content-center align-items-end">
                                <!-- Content -->
                                <div class="text-center white-text pb-5">
                                    <a href="{{ url_for('items.display_items_by_category', category='Accessories') }}"
                                       class="btn btn-outline-white btn-lg btn-rounded">Leather Case
                                    </a>
                                </div>
                                <!-- Content -->

                            </div>
                        </div>
                        <!-- Card image -->
                    </div>
                    <!-- Collection card -->
                </div>
                <!-- Fourth column -->

            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Content-->
    </div>
</main>
<!--Main layout-->
<!--Modal: modalPush-->
<div class="modal fade my-5" id="modalPush" data-backdrop="true" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center mdb-color elegant-color-dark white-text">
                <h5>Please verify your age</h5>
            </div>

            <!--Body-->
            <div class="modal-body">

<!--                <i class="fas fa-4x fa-exclamation-triangle mb-4"></i>-->
                <img src="https://lh3.googleusercontent.com/pw/ACtC-3ebhYscf_b-qFuThmaacqRSnuFdDqqcC-sqtangy1a7GfB7Wt-hdinvhNgNiLCOKRYokt-Cx_7SKc9UHYheaUKyyflsJ2Dj-kyYOLqu1f2YR4dq--gbhGL-Tt4qlD-B3n9mG5YXfBobLDCH-zQxV12q=w479-h637-no?authuser=0"
                 class="img-fluid"
                 style="max-width:150px">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid
                    architecto beatae, consequuntur dolores earum eligendi enim fuga harum inventore
                    laboriosam minima modi nam nisi porro sint sit tempore, voluptate.</p>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center mdb-color elegant-color-dark">
                <a type="button" class="btn btn-light text-dark" data-dismiss="modal">I am 21+</a>
                <a href="https://www.google.com/" class="btn btn-outline-light waves-effect">I am not
                    yet 21</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalPush-->
{% endblock %}
