{% extends "base.html" %}
{% block content %}
<!--Main layout-->
<main>
    <div class="container dark-grey-text mt-5">
        <!--Grid row-->
        <div class="row wow fadeIn">
            <!--Grid column-->
            <div class="col-md-6 mb-4 d-flex justify-content-center">
                <img src="{{ item.image_url }}" class="img-fluid" alt="" style="max-width:300px">
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4 d-flex">

                <!--Content-->
                <div class="p-4 wow fadeIn">

                    <div class="mb-3">
                        <h4 class="font-weight-bold">{{ item.subcategory }}: {{ item.name }}</h4>
                        <a href="">
                            <span class="badge purple mr-1">{{ item.category }}</span>
                        </a>
                        <a href="">
                            <span class="badge blue mr-1">{{ item.subcategory }}</span>
                        </a>
                        <!--              <a href="">-->
                        <!--                <span class="badge blue mr-1">New</span>-->
                        <!--              </a>-->
                        <!--              <a href="">-->
                        <!--                <span class="badge red mr-1">Bestseller</span>-->
                        <!--              </a>-->
                    </div>

                    <p class="lead">
                        <!--              <span class="mr-1">-->
                        <!--                <del>$200</del>-->
                        <!--              </span>-->
                        <span>₱{{ item.price }}</span>
                    </p>

                    <p>{{ item.description }}</p>

                    <form class="d-flex justify-content-left" method="post"
                          action="{{ url_for('orders.add_to_cart') }}">
                        <!-- Default input -->
                        <input type="hidden" value="{{ item._id }}" class="form-control"
                               name="item_id">
                        <input type="number" value="1" min="1" class="form-control"
                               name="quantity" style="width: 100px">
                        <button class="btn btn-primary btn-md my-0 p btn-rounded" type="submit">Add to cart
                            <i class="fas fa-shopping-cart ml-1"></i>
                        </button>

                    </form>

                </div>
                <!--Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>

        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">

                <h4 class="my-4 h4">Additional information</h4>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi
                    sapiente illo soluta odit
                    voluptates,
                    quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum
                    in laborum.</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg"
                     class="img-fluid" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg"
                     class="img-fluid" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg"
                     class="img-fluid" alt="">

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>
<!--Main layout-->
{% endblock %}
