{% extends "base.html" %}
{% block content %}
<main class="p-5">
    <p class="text-center h4 mb-4 my-5">Sign in</p>
    <form class="w-responsive mx-auto pb-5" action="{{ url_for('admin.login_admin') }}"
          method="post">
        <div class="mx-5 text-center">
            <div class="md-form">
                <label for="email" class="">Email</label>
                <input type="email" id="email" class="form-control mb-4" name="email">
            </div>
            <div class="md-form">
                <label for="password" class="">Password</label>
                <input type="password" id="password" class="form-control mb-4" name="password">
            </div>
            <button class="btn btn-dark my-4 btn-rounded submit-disabled" type="submit">Sign in</button>
        </div>
    </form>
</main>
{% endblock %}