{% extends "base.html" %}
{% block content %}
<main>
    <div class="w-responsive mx-auto px-5">
        <h1 class="text-center pt-4">Orders</h1>
        <!-- Material form contact -->
        <div class="card border rounded mb-5">
            <form class="needs-validation container text-center" action="{{ url_for('orders.order_summary') }}" novalidate>
                <div class="form-row">
                    <div class="col-md-6 mb-3 md-form">
                        <select class="mdb-select pl-1" id="status" name="status" required>
                            <option value="all" {% if query['status'] == 'all' %} selected="selected" {% endif %}>All</option>
                            <option value="open" {% if query['status'] == 'open' %} selected="selected" {% endif %}>Open</option>
                            <option value="completed" {% if query['status'] == 'completed' %} selected="selected" {% endif %}>Completed</option>
                            <option value="cancelled" {% if query['status'] == 'cancelled' %} selected="selected" {% endif %}>Cancelled</option>
                        </select>
                        <label for="status" class="">Status</label>
                    </div>
                    <div class="col-md-6 mb-3 md-form">
                        <select class="mdb-select pl-1" name="delivery" id="delivery" required>
                            <option value="all" {% if query['delivery'] == 'all' %} selected="selected" {% endif %}>All</option>
                            <option value="Same Day" {% if query['delivery'] == 'Same Day' %} selected="selected" {% endif %}>Same Day</option>
                            <option value="Next Day" {% if query['delivery'] == 'Next Day' %} selected="selected" {% endif %}>Next Day</option>
                        </select>
                        <label for="delivery" class="">Delivery</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col mb-3 md-form">
                        <input type="text" id="ordered_at"
                               class="form-control datepicker" name="ordered_at"
                               {% if query['ordered_at'] %} value="{{ query['ordered_at'] }}" {% endif %}>
                        <label for="ordered_at" class="">Order date</label>
                    </div>
                </div>
                <button class="btn btn-dark btn-rounded mb-3 click-disabled" type="submit">Search</button>
            </form>
        </div>
        <!--Accordion wrapper-->
        <h1 class="text-center">{{ orders|length }} result(s)</h1>
        <div class="accordion md-accordion mb-5" id="accordionEx" role="tablist"
             aria-multiselectable="true">

            <!-- Accordion card -->
            {% for order in orders %}
            <div class="card border rounded">

                <!-- Card header -->
                <div class="card-header" role="tab" id="{{ 'header_' + order['order_id'] }}">
                    <a data-toggle="collapse" data-parent="#accordionEx"
                       href="{{ '#collapsible_' + order['order_id'] }}"
                       aria-expanded="true"
                       aria-controls="collapseOne1">
                        <h6 class="mb-0 black-text">
                            {{ order['order_id'] }}
                            {% if order['order_status'] == 'cancelled' %}
                            <span class="badge badge-danger badge-pill mx-1">{{ order['order_status'].title() }}</span>
                            {% elif order['order_status'] == 'completed' %}
                            <span class="badge badge-success badge-pill mx-1">{{ order['order_status'].title() }}</span>
                            {% else %}
                            <span class="badge badge-warning badge-pill mx-1">{{ order['order_status'].title() }}</span>
                            {% endif %}
                            {% if order['order_delivery'] == 'Same Day' %}
                            <span class="badge badge-light badge-pill">{{ order['order_delivery'] }}</span>
                            {% else %}
                            <span class="badge badge-dark badge-pill">{{ order['order_delivery'] }}</span>
                            {% endif %}
                            <i class="fas fa-angle-down rotate-icon"></i>
                        </h6>
                    </a>
                </div>

                <!-- Card body -->
                <div id="{{ 'collapsible_' + order['order_id'] }}" class="collapse" role="tabpanel"
                     aria-labelledby="{{ 'header_' + order['order_id'] }}"
                     data-parent="#accordionEx">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-sm">
                                <tbody>
                                <tr>
                                    <td><strong>Name</strong></td>
                                    <td>{{ order['customer_name'] }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Contact Number</strong></td>
                                    <td>{{ order['customer_contact_number'] }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Address</strong></td>
                                    <td>{{ order['customer_address'] }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Landmarks</strong></td>
                                    <td>{{ order['customer_landmarks'] }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Delivery</strong></td>
                                    <td>{{ order['order_delivery'] }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Notes</strong></td>
                                    <td>{{ order['order_notes'] }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Ordered At</strong></td>
                                    <td>{{ order['order_ordered_at'] }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Total Price</strong></td>
                                    <td>{{ order['order_total_price'] }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                <tr>
                                    <th>Subcategory</th>
                                    <th>Name</th>
                                    <th>#</th>
                                    <th style="text-align: right;">Price</th>
                                    <th style="text-align: right;">Subtotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in order['items'] %}
                                <tr>
                                    <td>{{ item['subcategory'] }}</td>
                                    <td>{{ item['name'] }}</td>
                                    <td>{{ item['quantity'] }}</td>
                                    <td style="text-align: right;">{{ item['price'] }}</td>
                                    <td style="text-align: right;">{{ item['subtotal'] }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% if order['order_status'] == 'open' %}
                            <div class="text-center">
                                <a class="btn btn-success waves-effect btn-md btn-rounded" href="{{ url_for('orders.edit_order_status', order_id=order['order_id'], status='completed') }}"><i class="fas fa-check-square"></i> Complete</a>
                                <a class="btn btn-danger waves-effect btn-md btn-rounded" href="{{ url_for('orders.edit_order_status', order_id=order['order_id'], status='cancelled') }}"><i class="fas fa-trash"></i> Cancel</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Accordion wrapper -->
</main>
{% endblock %}