html,
body,
header,
.carousel {
  height: 60vh;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

.pt-3-half {
padding-top: 1.4rem;
}

.min-font {
font-weight: 300 !important;
}

.navbar .btn-group .dropdown-menu .dropdown-item:hover {
color: #000 !important;
background-color: #fff !important;
}

.dropdown-content li>span {
color: #000;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.fa-exclamation-triangle {
color: #000 !important;
}
