/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }

html,
body,
header,
.carousel {
  height: 60vh;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

.pt-3-half {
padding-top: 1.4rem;
}

.min-font {
font-weight: 300 !important;
}

.dropdown-item:hover {
color: #000 !important;
background-color: #fff !important;
}

.dropdown-content li>span {
color: #000;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.fa-exclamation-triangle {
color: #000 !important;
}

.form-check-input[type="radio"]:checked+label:after {
background-color: #000000;
border: 2px solid #000000;
}

.form-check-input[type="checkbox"]:checked+label:before {
border-right: 2px solid #000000;
border-bottom: 2px solid #000000;
}

.small-font {
    font-size: 0.7rem;
}